<!DOCTYPE html>
<!-- 必要な変更点 -->
 <!-- 
他のグループのプロフィールを開閉するボタンを追加
無駄な関数/変数を削除。
  グループを選択ではなく入力にしてカレントグループ変更をテスト用のボタンで変数入力
  リクエストのメール機能追加
    店舗に見せに行く(ついでに酒を飲んで遊んでくる)
   -->
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>insert link</title>
<script src="./lib/profiles_data.js"></script>
<script src="./lib/firebasejs_8.6.1_firebase-app.js"></script>
<script src="./lib/firebasejs_8.4.0_firebase-auth.js"></script>
<script src="./lib/vue@3.5.13.global.prod.js"></script>
<script src="./lib/validation.js"></script>
<script type="module" src="./lib/validation.js"></script>
<link rel="stylesheet" href="./lib/reset.css">
<link rel="stylesheet" href="./lib/index.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
<div id="app">
<header class="header">
    <!-- initializeをfetchするボタン -->
    <button @click="fetchInitialize">initialize</button>
    <button @click="test">test</button>

    <div class="top-button">
        <a href="./b_p.html" class="home-button">
            <span class="material-icons">home</span>
        </a>
    </div>
</header>

<div class="requested-que">
    <h3>リクエストされたプロフィール</h3>
    <ul>
        <li v-for="request in filteredRequestedProfiles" :key="request.id">
            {{ request.name }} ({{ request.group }})
            <button @click="respondToRequest(request, 'accept')">許可</button>
            <button @click="respondToRequest(request, 'reject')">拒否</button>
        </li>
    </ul>
</div>

<div class="input-for-group">
    <form @submit.prevent="createGroup">
        <label for="new-group-name">新しいグループ名:</label>
        <input type="text" id="new-group-name" v-model="newGroupName">
        <label for="new-group-address">住所:</label>
        <input type="text" id="new-group-address" v-model="newGroupAddress">
        <label for="new-group-hours-start">営業時間開始:</label>
        <input type="time" id="new-group-hours-start" v-model="newGroupHoursStart">
        <label for="new-group-hours-end">営業時間終了:</label>
        <input type="time" id="new-group-hours-end" v-model="newGroupHoursEnd">
        <label for="group-password">パスワード:</label>
        <input type="password" id="group-password" v-model="groupPassword" autocomplete="current-password">
        <button type="submit">グループ作成</button>
    </form>
</div>

<br>

<div class="input-for-profile">

    <div>
        <label for="profile-name">プロフィール名:</label>
        <input type="text" id="profile-name" v-model="newProfileName">
    </div>
    <div>
        <label for="profile-bio">プロフィールの説明:</label>
        <input type="text" id="profile-bio" v-model="newProfileBio">
    </div>
    <label for="group-select">カレントグループを選択:</label>
    <select id="group-select" v-model="current_group">
        <option v-for="group in groups" :value="group.id">{{ group.name }}</option>
    </select>
    <br>
    password: <input type="password" id="password" v-model="password" autocomplete>
    <button @click="addProfile">プロフィール追加</button>
    <button @click="clearForm">クリア</button>
</div>

<div class="each_data content">
    <div v-show="current_tab === 'dev'" class="all_data">
        password: <input type="password" id="password" v-model="password" autocomplete>

        <label for="group-select">カレントグループを選択:</label>
        <select id="group-select" v-model="current_group">
            <option v-for="group in groups" :value="group.id">{{ group.name }}</option>
        </select>
        <div class="profile-columns">
            <div class="profile-column">
                <h3>他のグループ</h3>
                <ul class="profile-list">
                    <li v-for="group in otherGroups" :key="group.id" class="profile-item">
                        <div class="profile-info">
                            <h2>{{ group.name }}</h2>
                            <p>住所: {{ group.address }}</p>
                            <p>営業時間: {{ group.hours }}</p>
                            <!-- そのグループに所属するprofile -->
                            <ul>
                                <li v-for="profile in profiles.filter(profile => profile.group_id === group.id && profile.status === 'OK')" :key="profile.id">
                                    {{ profile.name }}: {{ profile.bio }}
                                </li>
                            </ul>

                            <p>
                                <label>
                                    <input type="checkbox" :checked="group.subscribe_from.includes(current_group)" @change="toggleSubscribe(group.id)">
                                    サブスクライブ
                                </label>
                            </p>


                        </div>
                    </li>
                </ul>
            </div>
            <div class="profile-column">
                <h3>自分のグループ</h3>
                <!-- カレントグループを表示 -->
                 <div v-if="current_group">
                <h4>{{ groups.find(group => group.id === current_group).name }}</h4>
                <p>住所: {{ groups.find(group => group.id === current_group).address }}</p>
                <p>営業時間: {{ groups.find(group => group.id === current_group).hours }}</p>
                </div>
                <ul class="profile-list">
                    <li v-for="(profile, index) in ownGroupProfiles" :key="index" class="profile-item">
                        <div class="profile-info">
                            <h2>{{ profile.name }}</h2>
                            <p>{{ profile.bio }}</p>
                            <p>グループ: {{ profile.group }}</p>
                            <p>ステータス: 
                                <label>
                                    <input type="radio" v-model="profile.status" :value="'OK'"> OK
                                </label>
                                <label>
                                    <input type="radio" v-model="profile.status" :value="'NG'"> NG
                                </label>
                            </p>
                        </div>
                        <button @click="profiles_delete(profile.id)">削除</button>
                    </li>
                </ul>
            </div>
            <div class="profile-column">
                <h3>サブスクライブしたグループ</h3>
                <ul class="profile-list">
                    <li v-for="group in subscribedGroups" :key="group.id" class="profile-item">
                        <div class="profile-info">
                            <h2>{{ group.name }}</h2>
                            <p>住所: {{ group.address }}</p>
                            <p>営業時間: {{ group.hours }}</p>
                            <ul>
                                <li v-for="profile in profiles.filter(profile => profile.group_id === group.id && profile.status === 'OK')" :key="profile.id">
                                    {{ profile.name }}: {{ profile.bio }}
                                    <!-- requestProfile -->
                                    <button @click="requestProfile(profile)">リクエスト</button>
                                </li>
                            </ul>


                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
</div>

<script>
const app = Vue.createApp({
    data() {
        return {
            is_sidebar_open: false,
            username: '',
            uid: null,
            logged_in: false,
            login_result: '',
            current_tab: 'dev',
            newProfileName: '',
            newProfileBio: '',
            newProfileGroup: '',
            newGroupName: '',
            newGroupAddress: '',
            newGroupHoursStart: '00:00',
            newGroupHoursEnd: '01:00',
            groupPassword: '',
            password: '',
            profiles: [],
            groups: [],
            requestedProfiles: [],
            current_group: '',
        };
    },
    computed: {
        filteredProfiles() {
            return this.profiles.filter(profile => profile.group !== this.current_group);
        },
        ownGroupProfiles() {
            return this.profiles.filter(profile => profile.group_id === this.current_group);
        },
        subscribedGroups() {
            return this.groups.filter(group => group.subscribe_from.includes(this.current_group));
        },
        otherGroups() {
            return this.groups.filter(group => group.id !== this.current_group);
        },
        filteredRequestedProfiles() {
            return this.requestedProfiles.filter(profile => profile.group === this.current_group);
        }
    },
    methods: {
        toggle_sidebar() {
            this.is_sidebar_open = !this.is_sidebar_open;
        },
        requestProfile(profile) {
            alert(`${profile.name}にリクエストを送信しました`);
            this.requestedProfiles.push(profile);
        },
        respondToRequest(request, response) {
            const message = response === 'accept' ? '許可のテンプレートメッセージ' : '拒否のテンプレートメッセージ';
            alert(`${request.group}と${request.name}に${message}を送信しました`);
            this.requestedProfiles = this.requestedProfiles.filter(p => p !== request);
        },
        toggleSubscribe(group_id) {
            const group = this.groups.find(group => group.id === group_id);
            group.subscribe_from = group.subscribe_from.includes(this.current_group)
                ? group.subscribe_from.filter(id => id !== this.current_group)
                : [...group.subscribe_from, this.current_group];
            this.updateGroup(group, this.password);
        },
        addProfile() {
            // current_groupから this.newProfileGroup, this.newProfileGroupを取得
            this.newProfileGroup = this.current_group;
            if (validateProfile(this.newProfileName, this.newProfileBio, this.newProfileGroup)) {
                const newProfile = {
                    name: this.newProfileName,
                    bio: this.newProfileBio,
                    group: this.newProfileGroup,
                    group_id: this.newProfileGroup,
                    status: 'NG'
                };
                console.log(newProfile);
                this.addProfileAPI(newProfile, this.password)
                .then(data => {
                    newProfile.id = data.id;
                    this.profiles.push(newProfile);
                    this.newProfileName = '';
                    this.newProfileBio = '';
                    this.newProfileGroup = '';
                    alert('プロフィールが正常に追加されました');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('プロフィールの追加に失敗しました');
                });
            } else {
                alert('プロフィールの入力が無効です');
            }
        },
        createGroup() {
            const existingGroups = this.groups.map(group => group.name);
            const newGroupHours = `${this.newGroupHoursStart} - ${this.newGroupHoursEnd}`;
            const validationResult = validateGroup(this.newGroupName, this.newGroupAddress, this.newGroupHoursStart, this.newGroupHoursEnd, existingGroups);
            
            if (validationResult === true) {
                const newGroup = {
                    name: this.newGroupName,
                    address: this.newGroupAddress,
                    hours: newGroupHours,
                    subscribe: false,
                    subscribe_from: [],
                    password: this.groupPassword
                };
                this.createGroupAPI(newGroup, this.password)
                .then(data => {
                    newGroup.id = data.id;
                    this.groups.push(newGroup);
                    this.newGroupName = '';
                    this.newGroupAddress = '';
                    this.newGroupHoursStart = '';
                    this.newGroupHoursEnd = '';
                    this.groupPassword = '';
                    alert('グループが正常に作成されました');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('グループの作成に失敗しました');
                });
            } else {
                alert('グループの入力が無効です: ' + validationResult.join(', '));
            }
        },
        profiles_delete(profile_id) {
            this.deleteProfileAPI(profile_id, this.current_group, this.password);
        },
        fetchProfiles() {
            this.fetchProfilesAPI()
                .then(data => {
                    this.profiles = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        },
        fetchGroups() {
            this.fetchGroupsAPI()
                .then(data => {
                    this.groups = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        },
        updateGroup(group) {
            this.updateGroupAPI(group, this.password)
            .then(data => {
                alert('グループが正常に更新されました');
            })
            .catch(error => {
                console.error('Error:', error);
                alert('グループの更新に失敗しました');
            });
        },
        fetchInitialize() {
            this.fetchInitializeAPI()
                .then(data => {
                    this.fetchProfiles();
                    this.fetchGroups();
                    this.requestedProfiles = [];
                    alert('初期化が完了しました');
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('初期化に失敗しました');
                });
        },
        clearForm() {
            this.newProfileName = '';
            this.newProfileBio = '';
            this.newProfileGroup = '';
            },
        test(){
            this.testAPI();
        },
        async fetchProfilesAPI() {
            console.log('fetchProfilesAPI');
            try {
                const response = await fetch('http://localhost:3000/profiles');
                return await response.json();
            } catch (error) {
                console.error('Error:', error);
                throw error;
            }
        },
        async fetchGroupsAPI() {
            console.log('fetchGroupsAPI');
            try {
                const response = await fetch('http://localhost:3000/groups');
                return await response.json();
            } catch (error) {
                console.error('Error:', error);
                throw error;
            }
        },
        async addProfileAPI(newProfile, password) {
            console.log('addProfileAPI');
            try {
                const response = await fetch('http://localhost:3000/profiles', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ ...newProfile, password })
                });

                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }

                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error:', error);
                throw error;
            }
        },
        async createGroupAPI(newGroup, password) {
            try {
                const response = await fetch('http://localhost:3000/groups', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ ...newGroup, password })
                });
                return await response.json();
            } catch (error) {
                console.error('Error:', error);
                throw error;
            }
        },
        async deleteProfileAPI(profile_id, group_id, password) {
            try {
                const response = await fetch(`http://localhost:3000/profiles/delete`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ 
                        profile_id: profile_id,
                        group_id: group_id,
                        password: password
                    })
                });
                //   if (error) {return res.status(403).json({ message: error }) }; ならエラーへ
                // 403ならcatchエラー
                if (response.status !== 'OK') {
                    console.error('Error:', response);
                    throw new Error('Forbidden: Invalid credentials');
                }
                


                return await response.json();
            } catch (error) {
                console.error('Error:', error);
                throw error;
            }
        },
        async updateGroupAPI(group, password) {
            try {
                const response = await fetch(`http://localhost:3000/groups/${group.id}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ ...group, password })
                });
                if (response.status !== 'OK') {console.error('Error:', response);throw new Error('Forbidden: Invalid credentials')}
                return await response.json();
            } catch (error) {
                console.error('Error:', error);
                throw error;
            }
        },
        async fetchInitializeAPI() {
            try {
                const response = await fetch('http://localhost:3000/initialize');
                return await response.json();
            } catch (error) {
                console.error('Error:', error);
                throw error;
            }
        },
        async testAPI() {
            try {
                const response = await fetch('http://localhost:3000/test', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                });
                return await response.json();
            } catch (error) {
                console.error('Error:', error);
                throw error;
            }
        }
    },
    mounted() {
        this.fetchProfiles();
        this.fetchGroups();
    },
    watch: {
        current_group() {
            this.clearForm();
            this.groups.forEach(group => {
                group.subscribe = group.subscribe_from.includes(this.current_group);
            });
        }
    }
}).mount('#app');
</script>
</body>
</html>